<div [ngBusy]="busy"></div>
<ol class="breadcrumb mb-0">
  <li class="breadcrumb-item">Admin</li>
  <li class="breadcrumb-item"><a [routerLink]="['/']" href="#">Dahboard</a>
  </li>
  <li class="breadcrumb-item"><a [routerLink]="['/place']" href="#">Places</a>
  </li>
  <li class="breadcrumb-item active">Delete</li>
  <li *ngIf="item" class="breadcrumb-item active">{{ item.id }}</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <h3 class="text-danger text-center">Are you sure to delete this place ??</h3>
    </div>
    <div *ngIf="item" class="row">
      <div class="col-sm-6 col-md-6">
        <div class="card card-inverse card-info">
          <div class="card-block">
            <div class="h1 text-muted text-right mb-2">
              <i class="icon-location-pin"></i>
            </div>
            <div class="h4 mb-0">Adress : {{ item.address }} </div>
            <div class="progress progress-white progress-xs mt-1">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted text-uppercase font-weight-bold">
          <i class="icon icon-present"></i>
        {{ item.name  }}</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card card-inverse card-success">
          <div class="card-block">
            <div class="h1 text-muted text-right mb-2">
              <i class="icon-clock"></i>
            </div>
            <div class="h4 mb-0">start : {{ '2017-10-10 '+item.start_time | date:'HH:mm' }}</div>
            <small class="text-muted text-uppercase font-weight-bold">End : {{ '2017-10-10 '+item.end_time | date:'HH:mm' }}</small>
            <div class="progress progress-white progress-xs mt-1">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="item" class="row">
      <div class="col-md-6">
        <button type="button" [routerLink]="['/place']" class="btn btn-outline-primary btn-lg btn-block">Cancel</button>
      </div>
      <div class="col-md-6">
        <button type="button" (click)="delete(item.id)" class="btn btn-outline-danger btn-lg btn-block">Yes,Delete place</button>
      </div>
    </div>
  </div>
</div>