<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title text-center">
        <span>Dashboard</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" href="#"><i class="icon-speedometer"></i> Home <span class="badge badge-info">Comming soon</span></a>
      </li>

      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user']" href="#"><i class="icon-people"></i> Users </a>
      </li>

      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/coache']" href="#"><i class="icon-emotsmile"></i> Coaches </a>
      </li>

      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/place']" href="#"><i class="icon-location-pin"></i> Places </a>
      </li>

       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/booking']" href="#"><i class="icon-book-open"></i> Bookings </a>
      </li>

    </ul>
  </nav>
</div>